
{% extends 'base.html.twig' %}

{% block title %}New Interet{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="e1">
    <h1>Interet Professionnel</h1>
    <form  action="{{ path('information_new') }}" method="post">

    {{ include('interet/_form.html.twig') }}
       
       </form>

    <a href="{{ path('interet_index') }}">back to list</a>
    </div></div></div></div>
{% endblock %}
